{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
      crossorigin="anonymous"
    >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <style type="text/css">
      #page-container {
        position: relative;
        min-height: 100vh;
      }
      
      #godown {
        height: 1rem;
     }

      #content-wrap {
        padding-bottom: 3.5rem;
      }
      
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3rem;
      }
    </style>
    <title>
      {% block title %}Тут должен быть заголовок{% endblock %}
    </title>
  </head>
  <body>
      {% include 'includes/header.html' %}
      <div id="page-container">
      <main>
        <div id="content-wrap" class="container py-5">
          {% block content %}Контента нет, но будет{% endblock %}
        </div>
        <div id="godown"></div>
      </main>
      {% include 'includes/footer.html' %}
    </div>
  </body>
</html>
