{% comment %} {% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %} {% endcomment %}
  {% load static %} 
  <div class="row">
    <div class="col-5 md-4">   
      <img src="{% static 'img/me.jpg' %}" class="img-fluid rounded">
    </div>
    <div class="col-12 md-8">
      <article>
        <h1 class="display-2">Привет, я Руслан!</h1>
        <p> 
          <h4>
            Работаю в закупках, а в свободное 
            время ищу себя в IT-сфере. <br>
          </h4> 
        </p>
        <p>
          <h5>
            Я очень социальный, но социальные сети не люблю 
            (да-да, вы на сайте моей соц.сети), так что список 
            моих соц.сетей недлинный: 
          </h5>
        </p>  
        <p>
          <a href="https://vk.com/hobotron" target="_blank" title="VK" alt="...">
            <img src="{% static 'img/fav/VK.jpg' %}" width="30"> 
          </a>
          <a href="https://github.com/ratarov" target="_blank" title="GitHub" alt="...">
            <img src="{% static 'img/fav/git.png' %}" width="30"> 
          </a>
          <a href="https://linkedin.com/in/ruslan-atarov-b3b469a6" 
            target="_blank" title="LinkedIn"
          >
            <img src="{% static 'img/fav/Linkedin.jpg' %}" width="30" alt="..."> 
          </a>
        </p>
        <p>
          <ul class="list-group"> 
            <h4>Когда я не ищу себя в IT, меня можно найти:</h4>
            <strike>
              <li class="list-group-item"> 
                В компании друзей и настольных игр </li>
              <li class="list-group-item"> 
                Где-то в путешествиях </li>
              <li class="list-group-item"> 
                На склоне со сноубордом в руках </li>
              <li class="list-group-item"> 
                С джойстиком у приставки </li>
              <li class="list-group-item"> 
                На диване с книгой </li>
            </strike>
              <li class="list-group-item"> 
                За воспитанием любимых детишек-двойняшек </li> 
          </ul>   
        </p>
      </article>
    </div> 
  </div>
  <h1 class="text-center">Если этого контента мало, вот вам еще котиков целую ленту</h1>
  <div class="row">
    <div class="col-4 md-8">   
      <img src="{% static 'img/cat5.JPG' %}" class="img-fluid rounded">
    </div>
    <div class="col-4 md-8">   
      <img src="{% static 'img/cat4.JPG' %}" class="img-fluid rounded">
    </div>
    <div class="col-4 md-8">   
      <img src="{% static 'img/cat2.JPG' %}" class="img-fluid rounded">
    </div>
  </div>
{% comment %} {% endblock %}  {% endcomment %}